* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sprite-sheet{
    width: 103px;
    height: 89px;
    background-image : url("https://i.imgur.com/FDHsu.png");
    animation: moveX 0.25s steps(3) infinite,
               moveY 0.5s steps(2) infinite;
}
@keyframes moveX{
    from{background-position-x:0px;}
    to{background-position-x:-309px;}
}
@keyframes moveY{
    from{background-position-y:0px;}
    to{background-position-y:-178px;}
}